@model IEnumerable<ContaModel>
@{
    <div class="d-flex  justify-content-between align-items-center p-3 ">
        <h1>Contas em Aberto</h1>
        <a class="btn btn-success mx-6" asp-controller="ContasEmAberto" asp-action="AdicionarConta"> Cadastrar Conta</a>
    </div>


    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Conta</th>
                <th scope="col">Valor</th>
                <th scope="col">Vencimento</th>
            </tr>
        </thead>

        @if(Model != null)
        {
            <tbody>
                @foreach(var item in Model)
                {
                    <tr class="table-danger">
                        <th scope="row">@item.NomeDaConta</th>
                        <td>@item.Valor</td>
                        <td>@item.Vencimento</td>
                    </tr>
                }              
            </tbody>
        }
    </table>
}
