@model IEnumerable<ContaHoueseMvc.Models.ContaModel>

@{
    ViewData["Title"] = "Contas em Aberto";
}

<div class="d-flex justify-content-between align-items-center p-3">
    <h1>Contas em Aberto</h1>
    <a class="btn btn-success mx-6" asp-controller="ContasEmAberto" asp-action="AdicionarConta">Cadastrar Conta</a>
</div>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome Da Conta</th>
                <th>Vencimento</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var conta in Model)
            {
                <tr>
                    <td>@conta.NomeDaConta</td>
                    <td>@conta.Vencimento.ToString("dd/MM/yyyy")</td>
                    <td>@conta.Valor.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
}
