@model IEnumerable<ContaModel>
@{
    <div class="d-flex  justify-content-between align-items-center p-3 ">
        <h1>Contas em Aberto</h1>
        <a class="btn btn-success mx-6" asp-controller="ContasEmAberto" asp-action="AddConta"> Cadastrar Conta</a>
    </div>

    @if(Model != null)
    {
        @foreach(var conta in Model)
        {
           <p>@conta.NomeDaConta</p>
           <p>@conta.Vencimento</p>
           <p>@conta.Valor</p>
        }
    }

}
