@model IEnumerable<ContaModel>

@{
    ViewData["Title"] = "Contas Pagas";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
         <h1 class="display-4">CONTAS PAGAS</h1>  
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var conta in Model)
            {
                @if (conta.Situacao == true)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">@conta.NomeDaConta</h3>
                                <p class="card-text">
                                    <strong>Vencimento:</strong> @conta.Vencimento.ToString("dd/MM/yyyy")<br>
                                    <strong>Valor:</strong> @conta.Valor.ToString("C")
                                </p>>
                                <p>Paga!</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            Não há contas pagas no momento.
        </div>
    }
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
}
